<!DOCTYPE html>
{% extends "base/base.html" %}
{% load staticfiles %}
{% block body_block %}
<!-- <link rel="stylesheet" href="{% static "homepage/CSS.css" %}"> -->
<link rel="stylesheet" href="{% static "dropdownmenu/ABOUT.css" %}">
<div class="container">
    <div class="jumbotron">
        <h1>Hey!</h1>
        <p>For a long while, I was getting frustrated, about how I would sign up for a website, and it would list all of these amazing features, and yet I could never do them, since those websites cost money. Because of this, I am devoted to make all my websites free, for everyone.</p>
        <br>
        <p>Now, many of you must be like - "It Can't Totally Be Free". And, you're right-i do generate money of a miniscule amount of ads, but all the money I make goes back into this website, wheter that be upgrading the servers, or allowing this website to continue to host.</p>
        <br>
        <p>If you ever want to see the code of any part of this website, search this up on github - I like to keep all my projects free and open-scource.</p>
        <br>
        <p>Let me know your experience by sending me an email - for more information on that, go into my "Help" Page.</p>
    </div>
</div>
{% endblock%}