/* body {
    background-color: purple;
} */

#navbar_image {
    width: auto;
    height: 46px;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}

.navbar, li, .divider, .dropdown, .dropdown-menu {
    background-color: #190028;
}


body {
    margin: 0px;
}

/* .nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 50px;
} */

.nav.navbar-nav li a {
    color: #8100cc;
    font-size: 20px;
}

#seperator {
    background-color: #11001C;
    margin: 10px 0px 10px 0px;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}
