<!DOCTYPE html>
{% extends "base/base.html" %}
{% load staticfiles %}
    {% block body_block %}
        <link rel="stylesheet" href="{% static "homepage/CSS.css" %}">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h1>Want To Learn All That You Want, For Free?</h1>
                        <p id="interesting_text">In this current world, it's getting increasingly difficult. Good thing we're here to take charge.</p>
                    </div>
                </div>  

                
            </div>
        </div>
    {% endblock%}
