<!DOCTYPE html>
{% extends "base/base.html" %}
{% load staticfiles %}
{% block body_block %}
<!-- <link rel="stylesheet" href="{% static "homepage/CSS.css" %}"> -->
<link rel="stylesheet" href="{% static "signup/CSS.css" %}">
<link rel="stylesheet" href="{% static "login/CSS.css" %}">
<link rel="stylesheet" href="{% static "dropdownmenu/ABOUT.css" %}">
<div class="container">
    <div class="jumbotron">
        <h1>Please Log-In</h1>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter User-Name">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">

            
        </form>
    </div>
</div>
{% endblock%}